# Binaries
bin/
/vkfs
/vkfs-admin
/sqlite_demo
/milvus_demo
/zilliz_cloud_demo
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.out
*.test
*.prof

# Dependencies
vendor/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Config
config.yaml

SPEC.md

articles/*
articles/*